<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>Home</strong>
      </a>
      <a routerLink="/activity" routerLinkActive="active" class="btn btn-primary float-right">
        Notifications
        <span class="badge badge-light">{{notifications}}</span>
      </a>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a routerLink="/customer/create" routerLinkActive="active" class="nav-link">Create Customer</a>
        <a routerLink="/customer/list" routerLinkActive="active" class="nav-link">Customers</a>
        <a routerLink="/activity" routerLinkActive="active" class="nav-link">Activity Logs</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="card">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</div>
